/*


@Author: Andrés Guzmán Muro
@Date: 2013
@Version:  1.0

*/

@import "main.css";
@import "text.css";
<<<<<<< HEAD
 @import "tiptip.css";
=======
@import "tiptip.css";
>>>>>>> ea2c5fdac41e8493a76fec6895c24e266dd96589
