/*			- Main site elements -			*/
body {
	font-family: "Source Sans Pro", sans-serif;
	margin:0;
	padding:0;
	background: #F7F7F7;
}
.wrap{ width: 980px; margin: 0 auto;}
.main, article, header, nav ul {
	text-align:left;
	display: block;
	margin: 0 auto;
	width: 978px;
}
li{ list-style: none;}
.intro{ height:93px;}
header, #logo{  background: url(../img/bg/trans-header.jpg) right center no-repeat; }
#logo{ padding: 25px 20px 0 8px; height: 68px; display: inline-block; }
nav{ background: url(../img/bg/bg-nav.gif); height: 50px;}
nav li{ background: url(../img/bg/nav-l.png) 0 center no-repeat; }
nav a{ line-height: 50px; height: 50px; display: block; background: url(../img/bg/nav-r.png) right center no-repeat; padding: 0 30px 0 20px; }
nav a:hover{ background: #B20000; }
#prefooter{ height: 140px; }
#prefooter > img{ position: absolute; top: -28px; left: 50%; margin-left: -57px; }
footer{ background: url(../img/bg/bg-footer.png) center 0 no-repeat; padding: 22px 0 40px; text-align: center; }
footer a{ margin: 0 10px; }
/*			- Resets -			*/
a{text-decoration:none;}	
button{	background:none; background-repeat:no-repeat;	border:none; cursor:pointer; margin:0;	padding:0; text-align:left; }
form{	margin:0;	padding:0; }
img {	border: none; }
ul{	margin:0;	padding:0; list-style:none; }
table{ border-spacing:0;  border-collapse:collapse; }
.block {	display: block;	}
.relative, section{ position:relative; }
/*			- Paddings/Margins/Widths/Borders -			*/

.m0, header p { margin:0; } .m0auto { margin:0 auto; } 
.m1r  { margin-right:1px;  }	.m5r { margin-right:5px;  }	.m10r { margin-right:10px; }	.m15r { margin-right:15px; }
.m20r { margin-right:20px; }	.m25r{ margin-right:25px; }	.m30r { margin-right:30px; }	.m40r { margin-right:40px; }

.m1l  { margin-left:1px;  }	.m5l { margin-left:5px;  }	.m10l { margin-left:10px; }	.m15l{ margin-left:15px; }
.m20l { margin-left:20px; }	.m25l{ margin-left:25px; }	.m30l { margin-left:30px; }	.m40l{ margin-left:40px; }

.m1t  { margin-top:1px;  }	.m5t { margin-top:5px;  }	.m10t { margin-top:10px; }	.m15t { margin-top:15px; }
.m20t { margin-top:20px; }	.m25t{ margin-top:25px; }	.m30t { margin-top:30px; }	.m40t { margin-top:40px; }

.m1b  { margin-bottom:1px;  }	.m5b { margin-bottom:5px;  }	.m10b { margin-bottom:10px; }	.m15b { margin-bottom:15px; }
.m20b { margin-bottom:20px; }	.m25b{ margin-bottom:25px; }	.m30b { margin-bottom:30px; }	.m40b { margin-bottom:40px; }

.p0 { padding:0px; } .p5 { padding:5px; } .p10 { padding:10px; } .p15 { padding:15px; } .p20 { padding:20px; } .p25 { padding:25px; }

.p5r { padding-right:5px;  } .p10r{ padding-right:10px; } .p15r{ padding-right:15px; } 
.p20r{ padding-right:20px; } .p25r{ padding-right:25px; } .p30r{ padding-right:30px; }

.p5l  { padding-left:5px;  } .p10l{ padding-left:10px; } .p15l{ padding-left:15px; } 
.p20l { padding-left:20px; } .p25l{ padding-left:25px; } .p30l{ padding-left:30px; }

.p5t   { padding-top:5px;  }	.p10t { padding-top:10px; } .p15t { padding-top:15px; }	.p20t	{ padding-top:20px; } 
.p25t  { padding-top:25px; }  .p30t { padding-top:30px; } .p40t { padding-top:40px; } .p60t { padding-top:60px; } 

.p5b  { padding-bottom:5px;  } .p10b { padding-bottom:10px; } .p15b { padding-bottom:15px; } 
.p20b	{ padding-bottom:20px; } .p25b { padding-bottom:25px; } .p30b	{ padding-bottom:30px; }

.width10	{width:10% !important;}
.width15	{width:15% !important;}
.width20	{width:20% !important;}
.width25	{width:25% !important;}
.width30	{width:30% !important;}
.width33	{width:33% !important;}
.width35	{width:35% !important;}
.width40	{width:40% !important;}
.width45	{width:45% !important;}
.width50	{width:50% !important;}
.width55	{width:55% !important;}
.width60	{width:60% !important;}
.width65	{width:65% !important;}
.width66	{width:66% !important;}
.width70	{width:70% !important;}
.width75	{width:75% !important;}
.width80	{width:80% !important;}
.width85	{width:85% !important;}
.width90	{width:90% !important;}
.width95	{width:95% !important;}
.width100	{width:100% !important;}
.floatL, #logo, nav li {	float: left; }
.floatR {	float: right; }
.roundbor{  -webkit-border-radius: 20px; border-radius: 20px;  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; }
.clear { clear:both; }
:-moz-any-link:focus { outline: none; }
.clearfix:after {	content: "."; 	display: block; 	height: 0; 	clear: both; 	visibility: hidden; }
.clearfix {display: inline-block;}
.clearfix {display: block;}

/*	- Site Layout -	*/
.content{ width: 940px; margin: 0 auto;}

#stage{ height: 460px; padding-top: 85px; position: relative; background: url(../img/bg/bg-stage.jpg) center bottom no-repeat; }
#stage img{ position: absolute; left: 50%; top: 45px; z-index: 0; margin-left: -624px; }
.div{ background: url(../img/bg/div.gif) 0 center no-repeat; height: 3px; border: none; }
/*	- Buttons -	*/
.buscar span{ background: url(../img/icons/lupa.png) center center no-repeat; width: 24px; height: 24px; display: inline-block; padding-top: 13px; padding-bottom: 13px; }
.finalizar span{ background: url(../img/btns/arrows.png) center center no-repeat; width:19px; height:19px; display: inline-block; padding-top: 13px; padding-bottom: 13px; }
.btn{ display: inline-block; }
.btn em{ background: url(../img/bg/div.png) 0 center no-repeat; padding: 0 10px; }
.btn.red{ background: #CD0700; } .btn.red:hover{ background: #B20000; }
.busqueda{
	height:1200px;
	text-align:left !important;
	background-color:#323232;
	margin:0 auto;
}
.busqueda strong{
	
	color:#FFF;
	font-weight:bold;
}
.busqueda input{
	width:281px;
	height:78px;
	color:#FFF;
	border:none;
	background-color:#323232;
	font-size:62px;
	margin:30px 0; 
}
.font22{ font-size:22px;}
.font16{ font-size:16px;}
.line-no-encontrado{
	background: url(../img/btns/line-busqueda-no-encontrada.png) no-repeat left;
	height:15px;
	width:100%;
	border:0px solid #fff;
}
.botton{
	width:194px;
	height:53px;
	border:2px solid #C4C4C4;
	border-radius:4px;
	margin:15px 10px;
	float:left;
	-moz-border-radius:4px;
	/*para Safari y Chrome*/
	-webkit-border-radius: 4px;
	/* para Opera */
	border-radius: 4px;	
}
.botton p{
	padding:15px;
	text-align:center;
}
.botton p a{
	font-size:16px;
	color:#FFF;
	text-decoration:none;
}
.align-block{
	width:900px;
}
.second-line{
	margin-left:100px;
}
.width-line-tabs{
	width:1024px;
}
/*			- JQuery Plugins -			*/
/*			- Media Queries -			*/
@media (max-width: 1200px) {  	
}
/*menu*/
#nav-menu li:hover {position:relative; z-index:200;}
/* keep the 'next' level invisible by placing it off screen. */
#nav-menu ul, 
#nav-menu li:hover ul ul,
#nav-menu li:hover ul li:hover ul ul,
#nav-menu li:hover ul li:hover ul li:hover ul ul,
#nav-menu li:hover ul li:hover ul li:hover ul li:hover ul ul
{position:absolute; top:-9999px; width:0; height:0; margin:0; padding:0; list-style:none;}
#nav-menu li:hover ul.sub
{left:0;top:50px; background: #fff;  width:200px; height:49px; z-index:300;}
#nav-menu li:hover ul.sub li
{display:block; height:49px; position:relative; float:left;width:250px; font-weight:normal; background: url(../img/bg/bg-menu-one.png);}
#nav-menu li:hover ul.sub li a
{display:block;font-size:14px; position:absolute; height:38px; width:200px; font-weight: 600; line-height:15px; color:#000; text-decoration:none; padding-top:11px;}
#nav-menu li ul.sub li a.fly{
	background: url(../img/bg/bg-menu.png);
	font-size:14px !important;
	font-weight:600;
}
#nav-menu li:hover ul.sub li a:hover 
{background: url(../img/bg/bg-menu-act-one.png); color:#FFF;}
#nav-menu li:hover ul.sub li a.fly:hover
{background:url(../img/bg/bg-menu-act.png); color:#FFF;}
#nav-menu li:hover ul li:hover > a.fly {background:url(../img/bg/bg-menu-act.png); color:#FFF;} 
#nav-menu li:hover ul li:hover ul,
#nav-menu li:hover ul li:hover ul li:hover ul,
#nav-menu li:hover ul li:hover ul li:hover ul li:hover ul,
#nav-menu li:hover ul li:hover ul li:hover ul li:hover ul li:hover ul
{left:250px; top:0; background: url(../img/bg/bg-menu.png); color:#B60000; white-space:nowrap; width:251px; z-index:400; height:49px;}
.sub span{ background-image:url(../img/bg/play.png); width: 49px; height: 48px; position:absolute; margin:0 201px; border-bottom:1px solid #8d867c;}

/* CABRAL */
.header{height: 141px;}
.header p {font-size: 15px; color: #A5A5A5;  margin-left:-90px;}
.header h1 {font-size: 26px; color: #B00000; padding:13px 0; margin-left:-90px;}
.sombra{width: 100%; height: 30px; background: url(../../assets/img/bg/sombra.png); background-repeat: no-repeat; background-position: center;}
.block-pasos{width: 670px; height: 40px; margin: 10px auto;}
.pasos li { width: 70px; height: 35px; font-size:20px; background: url(../img/icons/pasos.png); background-repeat: no-repeat; float: left; position: relative;}
.pasos li:last-child{width: 36px;}
.pasos  a{ position:absolute; color:#878787; top: 6px; left: 14px; font-size: 17px; font-weight: 600;}
.pasos li:last-child a{ left: 7px;}
.pasos .on { background-position: 0 -35px !important; color: #C71000;}
.pasos .on a { color: #C71000;}
.content-pasos{width: 980px; margin: 25px auto;}
.content-categoria{margin:0 auto; text-align:center; color:#D2533F;font-size:18px;}
.content-categoria h3{font-size: 18px; }
.content-categoria a{ font-size:13px; font-weight:bold;color:#C71000; margin:0 15px;}
.boton-rojo{
	background:url(../img/btns/cdro-rojo.png) no-repeat left;
	padding:6px 20px;
}
.boton-rojo-big{
	background:url(../img/btns/cuadro-grande-rojo.png) no-repeat ;
	padding:6px 20px;
}
.boton-rojo-big-tarjeta-destino{
	background:url(../img/btns/cuadro-grande-rojo.png) no-repeat ;
	padding:6px 33px;
}
.boton-rojo-big-tarjeta-pass{
	background:url(../img/btns/cuadro-grande-rojo.png) no-repeat ;
	padding:6px 45px;
}
.boton-rojo-b{
	background:url(../img/btns/cuado-mas-grande-rojo.png) no-repeat;
	padding:6px 13px;
}
.content-pasos h3{ font-size:20px;}
.content-guia{
	width:980px;
	margin:0 auto;
}
.preferencias{
	width:980px;
	margin:0 auto;
	text-align:left !important;
}
.preferencias p {
	font-size:22px;
	color:#878787;
}
.preferencias p span {
		background:url(../img/btns/arrow-preferencias.png) center center no-repeat; width: 30px; height: 30px; display: inline-block; position:absolute; 
}
.content-guia h2{text-align: center; font-size:32px; color:#878787}
/* ==========================================================================
   Slider
   ========================================================================== */
.home-slider{ position:relative; width:920px; height:415px; margin:0 auto; overflow:hidden;}
.home-slider .center{ position:relative;}

/*	- iosSlider -	*/
.iosSlider {position: relative; left: 0; overflow: hidden; width: 920px; height: 507px;}
.iosSlider .slider .slide {
	float: left;
	width: 100%;
	height: 100%;
}
.iosSlider .slider .slide input[type="button"], input[type="button"]{
	width:192px;
	height:42px;
	background-image:url(../images/btns/btns-slider.png);
	background-repeat:no-repeat;
	background-color:transparent;
	border:none;
	float:left;
	font-size:14px;
	color:#FFF;
}
.sliderText{position:absolute; top:250px; left:40px;}
.st-prev, .st-next{ width:70px; height:70px; background:url(../img/btns/btns-slider.png); display:block; position:absolute; top: 250px; z-index:90; opacity:0.6;}
.st-prev:hover, .st-next:hover{ opacity:1; }
.st-prev{ left:0px;}
.st-next{ right:0px; background-position:-70px 0; }
.unselectable{visibility: hidden;}
.zoom {width: 150px; height: 40px;}
.zoom img, .zoom h3{float: left;}
